:root {
  --orange: #FFC527;
  --whiteF9: #F9F9F9;
  --black22: #222222;
  --black43: #434343;
  --gray85: #858585;
  --light-grayF4: #F4F4F4;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
}

.container-fluid {
  padding: 0px 2.5rem;
}

.custom-container {
  width: 91%;
  max-width: 1250px;
  margin: 0 auto;
}

.navHeader {
  background-color: var(--orange);
  padding: 10px 0px;
  position: relative;
  z-index: 1;
}
.navHeader .social_icons ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navHeader .social_icons ul li {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: var(--whiteF9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.navHeader .social_icons ul li a {
  color: var(--black22);
}
.navHeader .email_box {
  cursor: pointer;
}
.navHeader .email_box span {
  transition: all 0.3s ease-in-out;
}
.navHeader .email_box:hover span {
  opacity: 0.6;
}

.custom_navbar .navbar {
  background: linear-gradient(180deg, var(--black22) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 10px 0px;
  z-index: 1;
}
.custom_navbar .navbar .navbar_nav_items .nav-item {
  padding: 10px 15px;
}
.custom_navbar .navbar .navbar_nav_items .nav-item a {
  color: var(--whiteF9);
}
.custom_navbar .navbar .navbar_nav_items .custom_dro_nav_item:hover .custom_drop_menu {
  display: block !important;
}
.custom_navbar .navbar .navbar_nav_items .custom_dro_nav_item .custom_drop_menu {
  display: none;
  box-shadow: 4px 4px 0px var(--orange);
}
.custom_navbar .navbar .navbar_nav_items .custom_dro_nav_item .custom_drop_menu .dropdown-item {
  color: var(--black22);
  transition: all 0.3s ease-in-out;
}
.custom_navbar .navbar .navbar_nav_items .custom_dro_nav_item .custom_drop_menu .dropdown-item:hover {
  color: var(--orange);
}
.custom_navbar .logo {
  width: 12vw;
  height: auto;
}
.custom_navbar .background_video_Box {
  position: relative;
  width: 100%;
  margin-top: -10%;
}
.custom_navbar .background_video_Box .background-video {
  width: 100%;
  height: auto;
}
@media (max-width: 1100px) {
  .custom_navbar .navbar_nav_items .nav-item {
    padding: 10px 8px !important;
  }
}
@media (max-width: 991px) {
  .custom_navbar .navbar-collapse {
    position: absolute;
    top: 55px;
    background: #222;
    padding: 20px;
    border-radius: 10px;
    left: 0;
    right: 0;
  }
}
@media (max-width: 500px) {
  .custom_navbar .background_video_Box {
    margin-top: -15% !important;
  }
}

section .landing_text_main {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  top: 65px;
  left: 0;
}
section .landing_text_main .textBox {
  color: var(--whiteF9);
}
section .landing_text_main .textBox h6 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
section .landing_text_main .textBox h2 {
  font-size: 48px;
  font-weight: 600;
}
section .landing_text_main .avatar_imageBox {
  width: 22%;
  height: auto;
}
section .landing_text_main .avatar_imageBox img {
  width: 100%;
  height: auto;
}
section .landing_text_main .rating {
  color: var(--whiteF9);
}
@media (max-width: 991px) {
  section .landing_text_main {
    text-align: center;
    top: 33px;
  }
  section .landing_text_main .landing_buttons {
    display: flex;
    justify-content: center;
  }
  section .user_rating_detail {
    gap: 0;
    justify-content: center;
  }
  section .user_rating_detail .avatar_imageBox {
    width: 15%;
  }
}
@media (max-width: 768px) {
  section .landing_text_main {
    top: 20px;
  }
  section .landing_text_main .textBox h2 {
    font-size: 32px !important;
    font-weight: 600;
  }
  section .landing_text_main .textBox p {
    margin-bottom: 0;
  }
  section .landing_text_main .landing_buttons {
    padding-top: 10px !important;
  }
  section .user_rating_detail {
    padding-top: 10px !important;
  }
}
@media (max-width: 600px) {
  section .landing_text_main {
    position: unset;
    background-color: var(--black22);
    padding: 40px 0px;
    margin-top: 30px;
  }
}

.services {
  padding: 100px 0px;
}
.services .services_heading h5 {
  color: var(--black43);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}
.services .services_heading h1 {
  text-transform: capitalize;
  color: var(--black22);
  font-size: 48px;
  font-weight: 600;
}
.services .custom_border_start {
  border-left: 1px solid var(--black43);
}
.services .custom_border_start .services_textBox p {
  color: var(--black43);
}
@media (max-width: 768px) {
  .services .custom_border_start {
    border-left: none;
  }
  .services .custom_border_start .services_textBox {
    text-align: center;
  }
  .services .custom_border_start .services_textBox p {
    padding-top: 10px;
    padding-left: 0 !important;
  }
  .services .services_heading {
    text-align: center;
  }
  .services .services_heading h1 {
    font-size: 32px;
  }
}

.services_ducment {
  background-image: url("../images/Mezan/10001.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.services_ducment .imageBox img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.services_ducment .completed_projects {
  position: absolute;
  top: 29%;
  left: 50%;
  width: 180px;
  border-radius: 20px;
  padding: 30px;
  background-color: var(--orange);
  text-align: center;
  transform: translateX(-50%);
}
.services_ducment .completed_projects h4 {
  font-size: 38px;
  font-weight: 700;
  color: var(--black22);
}
.services_ducment .completed_projects span {
  color: var(--black22);
  font-size: 16px;
  font-weight: 500;
}
.services_ducment .textBox_main .services_ducment_card:hover .icon_box {
  background-color: #FFC527 !important;
}
.services_ducment .textBox_main .services_ducment_card .icon_box {
  background-color: lightgray;
  width: 80px;
  height: 80px !important;
  height: auto;
  border-radius: 50px;
  display: flex;
  align-items: end;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.services_ducment .textBox_main .services_ducment_card .icon_box img {
  width: 50px;
  height: 50px;
}
.services_ducment .textBox_main .services_ducment_card .textBox h4 {
  font-size: 24px;
  color: var(--black22);
  font-weight: 600;
}
.services_ducment .textBox_main .services_ducment_card .textBox p {
  color: var(--black43);
  font-size: 16px;
}
.services_ducment .service_doucment_iconBox {
  display: flex;
  align-items: center;
}
.services_ducment .service_doucment_iconBox .iconBox {
  padding-left: 30px;
}
.services_ducment .service_doucment_iconBox .iconBox svg {
  width: 40px;
}
.services_ducment .service_doucment_iconBox .iconBox svg .wdt-cus-telephone {
  fill: var(--orange);
}
.services_ducment .service_doucment_iconBox .numberBox h4 {
  color: var(--black22);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.services_ducment .service_doucment_iconBox .numberBox h4:hover {
  color: var(--orange);
}
.services_ducment .service_doucment_iconBox .numberBox span {
  color: var(--black43);
}
@media (max-width: 768px) {
  .services_ducment .completed_projects {
    position: unset;
    transform: translateX(0%);
    width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 668px) {
  .services_ducment .services_ducment_row {
    --bs-gutter-x: 1rem !important;
  }
}

.our_services_main {
  padding-top: 100px;
}
.our_services_main .our_services {
  background-color: var(--orange);
  padding: 100px 0px 200px 0px;
  position: relative;
  z-index: 22;
}
.our_services_main .our_services .custom_border_start {
  border-left: 1px solid var(--black22);
}
.our_services_main .carousel_Demo01 {
  margin-top: -10%;
  background-color: var(--whiteF9);
}
.our_services_main .carousel_Demo01 .carousel_Demo01_Box {
  position: relative;
  z-index: 33;
}
.our_services_main .carousel_Demo01 .carousel_Demo01_Box .custom_item {
  min-height: 200px;
  transition: transform 0.3s ease;
}
.our_services_main .carousel_Demo01 .carousel_Demo01_Box .custom_item .card {
  border-bottom: 1px solid var(--black22) !important;
  border-radius: 0;
}
.our_services_main .carousel_Demo01 .carousel_Demo01_Box .custom_item .card .card-body .imageBox {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}
.our_services_main .carousel_Demo01 .carousel_Demo01_Box .custom_item .card .card-body .imageBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease;
  border-radius: 20px;
}
.our_services_main .carousel_Demo01 .carousel_Demo01_Box .custom_item .card .card-body .imageBox img:hover {
  transform: scale(1.1);
}
.our_services_main .carousel_Demo01 .carousel_Demo01_Box .custom_item .card .card-body .textBox .our_services_card_heading {
  padding-top: 40px;
}
.our_services_main .carousel_Demo01 .carousel_Demo01_Box .custom_item .card .card-body .textBox .our_services_card_heading h4 {
  color: var(--black22);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.our_services_main .carousel_Demo01 .carousel_Demo01_Box .custom_item .card .card-body .textBox .our_services_card_heading h4:hover {
  color: var(--orange);
}
.our_services_main .carousel_Demo01 .carousel_Demo01_Box .custom_item .card .card-body .textBox p {
  color: var(--black43);
}
@media (max-width: 768px) {
  .our_services_main .our_services {
    text-align: center;
    padding: 100px 0px;
  }
  .our_services_main .our_services .custom_border_start {
    border-left: none !important;
  }
}

.free_estimate .textBox h5 {
  color: var(--black43);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}
.free_estimate .textBox h1 {
  color: var(--black22);
  font-size: 48px;
}
.free_estimate .textBox .custom_field {
  border: 0;
  padding: 12px 10px;
  background-color: var(--whiteF9);
  border-radius: 10px;
}
.free_estimate .textBox .custom_field::-moz-placeholder {
  color: #999999 !important;
}
.free_estimate .textBox .custom_field::placeholder {
  color: #999999 !important;
}
.free_estimate .textBox .custom_field:active, .free_estimate .textBox .custom_field:focus {
  box-shadow: unset;
}
.free_estimate .textBox .estimate_btn {
  border-radius: 10px;
}
.free_estimate select {
  color: var(--black22);
}
.free_estimate select:invalid {
  color: #999999;
}
.free_estimate .imageBox {
  width: 70%;
  height: auto;
}
.free_estimate .imageBox img {
  width: 100%;
  height: auto;
}

.people_trust {
  padding-bottom: 100px;
}
.people_trust .cards_main {
  background-color: var(--whiteF9);
  border-radius: 20px;
}
.people_trust .cards_main .title_card {
  background-color: var(--orange);
  border-radius: 20px;
  padding: 25px;
}
.people_trust .cards_main .title_card .card-body h6 {
  color: var(--black43);
  letter-spacing: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}
.people_trust .cards_main .title_card .card-body h1 {
  font-weight: 600;
  color: var(--black22);
  font-size: 48px;
  margin-bottom: 0;
  padding: 10px 0px 20px 0px;
}
.people_trust .cards_main .title_card .card-body p {
  color: var(--black43);
}
.people_trust .cards_main .trust_category_card .trust_category_cardBody .iconBox {
  width: 30%;
  height: auto;
  margin: 0px auto;
}
.people_trust .cards_main .trust_category_card .trust_category_cardBody .iconBox img {
  width: 100%;
  height: auto;
}
.people_trust .cards_main .trust_category_card .trust_category_cardBody .textBox h4 {
  color: var(--black22);
  font-size: 24px;
  margin-bottom: 0;
  padding: 20px 0px;
  font-weight: 600;
}
.people_trust .cards_main .trust_category_card .trust_category_cardBody .textBox p {
  color: #858585;
}

.friendly_services {
  background-color: var(--black22);
  padding: 100px 0px;
}
.friendly_services .text_heading h6 {
  color: var(--orange);
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.friendly_services .text_heading h1 {
  color: var(--whiteF9);
  font-size: 48px;
}
.friendly_services .textBox {
  border-left: 1px solid var(--whiteF9);
  padding-left: 50px;
}
.friendly_services .textBox p {
  color: var(--whiteF9);
}
.friendly_services .textBox .avatar_imageBox {
  width: 30%;
}
.friendly_services .textBox .avatar_imageBox img {
  width: 100%;
  height: auto;
}
.friendly_services .textBox .rating {
  color: var(--whiteF9);
}
.friendly_services .app_Detail {
  padding: 100px 0px;
}
.friendly_services .app_Detail .number_Box_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.friendly_services .app_Detail .number_Box_main .number_Box {
  display: flex;
  align-items: center;
}
.friendly_services .app_Detail .number_Box_main .number_Box h4 {
  color: var(--orange);
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 2px;
}
.friendly_services .app_Detail .number_Box_main p {
  color: var(--whiteF9);
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
}
.friendly_services .portfolio .image1 {
  background-image: url("../images/Mezan/10015.jpg");
}
.friendly_services .portfolio .image2 {
  background-image: url("../images/Mezan/10016.jpg");
}
.friendly_services .portfolio .image3 {
  background-image: url("../images/Mezan/10017.jpg");
}
.friendly_services .portfolio .image4 {
  background-image: url("../images/Mezan/10018.jpg");
}
.friendly_services .portfolio .image5 {
  background-image: url("../images/Mezan/10019.jpg");
}
.friendly_services .portfolio .image6 {
  background-image: url("../images/Mezan/10020.jpg");
}
.friendly_services .portfolio .imageBox {
  width: 100%;
  height: 400px;
  border-radius: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}
.friendly_services .portfolio .imageBox:hover .image_text {
  background-color: rgba(255, 197, 39, 0.904);
  opacity: 1;
}
.friendly_services .portfolio .imageBox .image_text {
  width: 100%;
  height: 400px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.friendly_services .portfolio .imageBox .image_text h4 a {
  color: var(--black22);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.friendly_services .portfolio .imageBox .image_text h4 a:hover {
  text-decoration: underline;
}
.friendly_services .portfolio .imageBox .image_text button {
  transition: all 0.3s ease-in-out;
}
.friendly_services .portfolio .imageBox .image_text button:hover {
  text-decoration: underline;
}
.friendly_services .btn_all_portfolio {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
@media (max-width: 768px) {
  .friendly_services .textBox {
    border-left: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .friendly_services .text_heading {
    text-align: center;
  }
  .friendly_services .text_heading h1 {
    font-size: 32px;
  }
  .friendly_services .user_app_rating {
    justify-content: center;
  }
}

.price_plan_main {
  padding: 100px 0px;
}
.price_plan_main .heading_section {
  text-align: center;
  width: 45%;
  margin: 0px auto;
}
.price_plan_main .heading_section h6 {
  font-weight: 400;
  color: var(--black43);
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 3px;
}
.price_plan_main .heading_section h1 {
  color: var(--black22);
  font-weight: 600;
}
.price_plan_main .heading_section p {
  color: var(--black43);
}
.price_plan_main .heading_section .custom_switch_Box {
  flex-wrap: wrap;
  gap: 20px;
}
.price_plan_main .heading_section .custom_switch_Box h4 {
  color: var(--black43);
}
.price_plan_main .heading_section .custom_switch_Box .custom-switch {
  display: inline-block;
  width: 60px;
  height: 30px;
}
.price_plan_main .heading_section .custom_switch_Box .custom-switch .switch-input {
  display: none;
}
.price_plan_main .heading_section .custom_switch_Box .custom-switch .switch-label {
  position: relative;
  display: block;
  height: 100%;
  background-color: var(--orange);
  border-radius: 30px;
  transition: background-color 0.3s;
}
.price_plan_main .heading_section .custom_switch_Box .custom-switch .switch-label .switch-slider {
  position: absolute;
  top: 13.4%;
  left: 4px;
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}
.price_plan_main .heading_section .custom_switch_Box .custom-switch .switch-input:checked + .switch-label {
  background-color: var(--black22);
}
.price_plan_main .heading_section .custom_switch_Box .custom-switch .switch-input:checked + .switch-label .switch-slider {
  transform: translateX(30px);
}
.price_plan_main .price_card_main {
  padding-top: 50px;
  background-image: url("../images/Mezan/10001.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.price_plan_main .price_card_main .price_card {
  border-radius: 20px;
  padding: 30px;
  transition: all 0.3s ease-in-out;
}
.price_plan_main .price_card_main .price_card .price_card_body {
  text-align: center;
}
.price_plan_main .price_card_main .price_card .price_card_body .price_card_heading h2 {
  color: var(--black22);
  font-size: 38px;
  font-weight: 600;
  padding-bottom: 20px;
}
.price_plan_main .price_card_main .price_card .price_card_body .price_card_heading h4 {
  color: var(--black22);
  font-weight: 700;
}
.price_plan_main .price_card_main .price_card .price_card_body .price_list {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.price_plan_main .price_card_main .price_card .price_card_body .price_list ul li {
  padding: 12px 0px;
  text-align: start;
}
.price_plan_main .price_card_main .price_card .price_card_body .price_list ul li .check_icon {
  width: 14px;
}
.price_plan_main .price_card_main .price_card .price_card_body .price_list ul li span {
  padding-left: 10px;
}
.price_plan_main .price_card_main .price_card .price_card_body .price_list ul .cross_list {
  opacity: 0.3;
}
.price_plan_main .price_card_main .price_card .price_card_body .price_list ul .cross_list span {
  text-decoration: line-through;
}
.price_plan_main .price_card_main .price_card .price_card_body .price_card_btn {
  transition: all 0.3s ease-in-out;
}
.price_plan_main .price_card_main .price_card:hover {
  background-color: var(--orange);
  border-color: var(--orange);
}
.price_plan_main .price_card_main .price_card:hover .price_card_btn {
  background-color: var(--black22);
  color: var(--whiteF9);
}
.price_plan_main .price_card_main .active_price_card {
  background-color: var(--orange);
  border-color: var(--orange);
  position: relative;
  padding-top: 55px;
}
.price_plan_main .price_card_main .active_price_card .tag {
  background-color: var(--black22);
  color: var(--whiteF9);
  padding: 3px 5px;
  position: absolute;
  right: -12px;
  top: 30px;
}
.price_plan_main .price_card_main .active_price_card .triangle {
  position: absolute;
  right: -17px;
  top: -17px;
  border-top: 17px solid transparent;
  border-right: 17px solid transparent;
  border-left: 17px solid #1a1a1a;
  z-index: -1;
}
.price_plan_main .company_logo .text_box {
  text-align: center;
  width: 70%;
  margin: 0px auto;
  color: var(--black43);
  padding: 100px 0px;
}
.price_plan_main .company_logo .text_box a {
  color: var(--black43);
  transition: all 0.3s ease-in;
}
.price_plan_main .company_logo .text_box a:hover {
  color: var(--orange);
}
.price_plan_main .company_logo .carousel_Demo02_Box .custom_item .logoBox {
  width: 55%;
  height: 100px;
  display: flex;
  align-items: center;
}
.price_plan_main .company_logo .carousel_Demo02_Box .custom_item .logoBox img {
  width: 100%;
}
@media (max-width: 768px) {
  .price_plan_main .heading_section {
    text-align: center;
    width: 100%;
  }
  .price_plan_main .company_logo .text_box {
    width: 100%;
    padding: 50px 0px;
  }
}

.start_mezan_services .content_box {
  color: var(--whiteF9);
  text-align: center;
  width: 50%;
}
.start_mezan_services .content_box h6 {
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.start_mezan_services .content_box h1 {
  color: var(--orange);
  font-size: 42px;
  font-weight: 700;
}
.start_mezan_services .content_box .categories {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
.start_mezan_services .content_box .categories .category_item {
  text-align: center;
  padding: 20px;
}
.start_mezan_services .content_box .categories .category_item img {
  width: 60px;
  filter: invert(100%) brightness(1000%);
}
.start_mezan_services .content_box .categories .category_item h5 a {
  text-decoration: none;
  color: var(--whiteF9);
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.start_mezan_services .content_box .categories .category_item h5 a:hover {
  color: var(--orange) !important;
}
.start_mezan_services .vedio_container {
  position: relative;
  z-index: 1;
  top: 0;
  width: 100%;
}
.start_mezan_services .vedio_container .elementor-background-video-hosted {
  width: 100%;
  height: 100%;
  direction: ltr;
  -o-object-fit: cover;
     object-fit: cover;
}
.start_mezan_services .vedio_container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  height: 99.3%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
@media (max-width: 768px) {
  .start_mezan_services .content_box {
    width: 100%;
  }
  .start_mezan_services .content_box h1 {
    font-size: 30px;
  }
  .start_mezan_services .content_box .categories {
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 650px) {
  .start_mezan_services .overlay {
    position: unset !important;
    margin-top: 30px;
    padding: 30px 20px;
  }
}

.question {
  padding: 100px 0px;
}
.question .question_heading {
  padding-bottom: 30px;
}
.question .question_heading h6 {
  color: var(--gray85);
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.question .question_heading h1 {
  font-size: 38px;
  color: var(--black22);
  font-weight: 600;
}
.question .imageBox {
  width: 100%;
  position: relative;
}
.question .imageBox img {
  width: 100%;
  border-radius: 20px;
  height: 100%;
}
.question .imageBox .textBox {
  color: var(--whiteF9);
  position: absolute;
  bottom: 30px;
  left: 12%;
  transform: translateX(-8%);
  background-color: var(--black22);
  padding: 20px;
  width: 90%;
  border-radius: 20px;
}
.question .imageBox .textBox h4 {
  font-size: 28px;
  font-weight: 600;
}
.question .custom_accordin .accordion {
  --bs-accordion-border-color: none;
  --bs-accordion-btn-focus-box-shadow: none;
}
.question .custom_accordin .accordion-item {
  margin-bottom: 20px;
  background: var(--light-grayF4);
  border-radius: 20px;
}
.question .custom_accordin .accordion-header .accordion-button {
  background-color: #FFF;
  border-radius: 20px;
  padding: 30px;
  color: var(--black22);
  font-size: 18px;
  font-weight: 500;
  border: 1px solid var(--gray85);
}
.question .custom_accordin .accordion-header:hover .accordion-button {
  background-color: var(--orange);
  border: 1px solid var(--orange);
}
.question .custom_accordin .accordion-header .accordion-button[aria-expanded=true] {
  background-color: var(--orange);
  border-color: var(--orange);
}
.question .custom_accordin .accordion-body {
  border-color: var(--gray85);
  border-radius: 0px 0px 20px 20px;
  padding: 20px 30px;
}
.question .custom_accordin .accordion-body p {
  color: var(--gray85);
}
.question .custom_accordin .last_item .accordion-header .accordion-button.collapsed {
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.schedule {
  background-color: var(--black22);
  padding: 30px 0px;
}
.schedule .houe_image img {
  width: 100%;
  height: auto;
}
.schedule .schedule_text_Box {
  color: var(--whiteF9);
}
.schedule .schedule_text_Box h1 {
  font-weight: 600;
}
.schedule .schedule_text_Box p {
  margin-bottom: 0;
  padding-right: 20px;
}
@media (max-width: 500px) {
  .schedule .buttons_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
  }
  .schedule .buttons_box button {
    width: 100%;
    margin-left: 0 !important;
  }
}

.expert_team {
  background-color: var(--orange);
  padding: 100px 0px;
}
.expert_team .exper_team_heading {
  text-align: center;
}
.expert_team .exper_team_heading h6 {
  color: var(--black43);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}
.expert_team .exper_team_heading h1 {
  color: var(--black22);
  font-weight: 600;
  padding: 20px 0px 30px 0px;
}
.expert_team .card .card-body {
  padding: 0;
}
.expert_team .card .card-body .imageBox {
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  position: relative;
}
.expert_team .card .card-body .imageBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.expert_team .card .card-body .imageBox img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.expert_team .card .card-body .imageBox .social_links {
  position: absolute;
  top: 12px;
  right: -4px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.expert_team .card .card-body .imageBox .social_links ul li {
  background-color: var(--black22);
  height: 35px;
  width: 35px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  margin: 10px;
  opacity: 0;
  transition-delay: 0s;
}
.expert_team .card .card-body .imageBox .social_links ul li a {
  color: var(--whiteF9);
  transition: all 0.3s ease-in-out;
}
.expert_team .card .card-body .imageBox .social_links ul li:hover a {
  color: var(--black22);
}
.expert_team .card .card-body .imageBox .social_links ul li:hover {
  background-color: var(--orange);
}
.expert_team .card .card-body .imageBox .social_links ul li:nth-child(1) {
  transition-delay: 0.1s;
}
.expert_team .card .card-body .imageBox .social_links ul li:nth-child(2) {
  transition-delay: 0.2s;
}
.expert_team .card .card-body .imageBox .social_links ul li:nth-child(3) {
  transition-delay: 0.3s;
}
.expert_team .card .card-body .imageBox .social_links ul li:nth-child(4) {
  transition-delay: 0.4s;
}
.expert_team .card .card-body .imageBox:hover .social_links {
  right: 4px;
  opacity: 1;
}
.expert_team .card .card-body .imageBox:hover .social_links ul li {
  opacity: 1;
}
.expert_team .card .card-body .uerName a {
  text-decoration: none;
  color: var(--black22);
  transition: all 0.3s ease-in-out;
}
.expert_team .card .card-body .uerName a:hover {
  color: var(--whiteF9);
}
.expert_team .card .card-body .uerName i,
.expert_team .card .card-body .uerName h4 {
  color: var(--black22);
  font-weight: 600;
}
.expert_team .card .card-body .uerName i {
  font-weight: 200;
  transition: all 0.3s ease-in-out;
}
.expert_team .card .card-body .uerName i:hover {
  color: var(--whiteF9);
}

.latest_blog {
  padding: 100px 0px;
}
.latest_blog .latest_blog_heading {
  text-align: center;
  padding-bottom: 50px;
}
.latest_blog .latest_blog_heading h6 {
  color: var(--black43);
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.latest_blog .latest_blog_heading h1 {
  color: var(--black22);
  font-weight: 600;
}
.latest_blog .latest_blog_card {
  padding: 0;
  border: unset;
  background-color: var(--whiteF9) !important;
}
.latest_blog .latest_blog_card .card-body {
  padding: 0;
}
.latest_blog .latest_blog_card .card-body .imageBox {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.latest_blog .latest_blog_card .card-body .imageBox img {
  width: 110%;
  height: auto;
  transition: all 0.3s ease-in-out;
  transform: translateX(-8%);
}
.latest_blog .latest_blog_card .card-body .imageBox img:hover {
  transform: translate3d(-0.66%, 0, 0);
}
.latest_blog .latest_blog_card .card-body .textBox {
  padding: 30px;
}
.latest_blog .latest_blog_card .card-body .textBox .date {
  color: var(--black43);
  font-size: 14px;
  font-weight: 500;
}
.latest_blog .latest_blog_card .card-body .textBox h4 {
  padding: 10px 0px;
}
.latest_blog .latest_blog_card .card-body .textBox h4 a {
  text-decoration: none;
  color: var(--black22);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.latest_blog .latest_blog_card .card-body .textBox h4 a:hover {
  color: var(--orange);
}

.happ_customer .custom_row .row {
  --bs-gutter-x: 0;
}
.happ_customer .tool_man img {
  width: 22vw;
  height: auto;
  position: relative;
  z-index: 1;
}
.happ_customer .heading_row {
  background-color: var(--whiteF9);
  padding: 100px;
  border-radius: 30px 0px 0px 0px;
}
.happ_customer .heading_row .textBox h6 {
  color: var(--black43);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}
.happ_customer .heading_row .happy_custome_text {
  border-left: 1px solid var(--orange);
  padding-left: 40px;
}
.happ_customer .heading_row .custom_tabs_main {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.happ_customer .heading_row .custom_tabs_main .custom_nav_tabs {
  --bs-nav-tabs-border-width: none;
  --bs-nav-tabs-border-color: none;
  --bs-nav-tabs-border-radius: none;
  --bs-nav-tabs-link-hover-border-color: none;
  --bs-nav-tabs-link-active-color: none;
  --bs-nav-tabs-link-active-bg: none;
  --bs-nav-tabs-link-active-border-color: none;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  float: inline-end;
  align-items: center;
}
.happ_customer .heading_row .custom_tabs_main .custom_nav_tabs .nav-item {
  padding: 10px 0px;
}
.happ_customer .heading_row .custom_tabs_main .custom_nav_tabs .nav-item .dots {
  width: 8px;
  height: 8px;
  background-color: var(--black22);
  border-radius: 50%;
}
.happ_customer .heading_row .custom_tabs_main .custom_nav_tabs .active {
  border: 1px solid var(--orange);
  border-radius: 50%;
  padding: 14px;
  position: relative;
}
.happ_customer .heading_row .custom_tabs_main .custom_nav_tabs .active::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--orange);
  top: 10px;
  right: 9px;
  border-radius: 50px;
}
.happ_customer .heading_row .custom_tabs_main .custom_nav_tabs .active .dots {
  display: none;
}
.happ_customer .heading_row .custom_tabs_main .custom_tab_content .tab-pane {
  cursor: grab;
  transition: all 0.4s ease-in-out;
}
.happ_customer .heading_row .custom_tabs_main .custom_tab_content .rating_stars {
  padding-bottom: 20px;
}
.happ_customer .heading_row .custom_tabs_main .custom_tab_content .rating_stars i {
  font-size: 18px;
  color: var(--orange);
}
.happ_customer .heading_row .custom_tabs_main .custom_tab_content .user_detail_text {
  font-size: 22px;
  color: var(--black22);
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 400;
}
.happ_customer .heading_row .custom_tabs_main .custom_tab_content .custom_hr_line {
  color: var(--orange);
  opacity: 1;
  margin: 50px 0px;
}
.happ_customer .heading_row .custom_tabs_main .custom_tab_content .user_profile .imageBox {
  width: 12%;
}
.happ_customer .heading_row .custom_tabs_main .custom_tab_content .user_profile .imageBox img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
@media (max-width: 992px) {
  .happ_customer .tool_man img {
    display: none;
  }
  .happ_customer .custom_tabs_main {
    flex-direction: column-reverse !important;
  }
  .happ_customer .custom_tabs_main .custom_nav_tabs {
    flex-direction: row !important;
  }
}
@media (max-width: 768px) {
  .happ_customer .heading_row {
    padding: 20px;
    border-radius: none;
  }
  .happ_customer .heading_row .happy_custome_text {
    border-left: 0;
    padding-left: 0;
  }
}

.booking {
  background-color: var(--orange);
  padding: 100px 0px;
}
.booking .booking_image_box {
  position: relative;
  height: 100%;
}
.booking .booking_image_box img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.booking .booking_image_box .overlay {
  position: absolute;
  background: linear-gradient(to top, #222222 10%, rgba(0, 0, 0, 0) 90%);
  width: 100%;
  height: 100%;
  bottom: 0;
  border-radius: 20px;
}
.booking .booking_image_box .overlay .contact_info .iconsBox {
  border: 1px solid var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
}
.booking .booking_image_box .overlay .contact_info .iconsBox i {
  color: var(--orange);
  font-size: 20px;
}
.booking .booking_image_box .overlay .contact_info .contact_text h4 {
  color: var(--whiteF9);
}
.booking .booking_image_box .overlay .contact_info .contact_text a {
  color: var(--whiteF9);
  transition: all 0.3s ease-in-out;
}
.booking .booking_image_box .overlay .contact_info .contact_text a:hover {
  color: var(--orange);
}
.booking .form_heading h6 {
  color: var(--black43);
  letter-spacing: 2px;
  text-transform: uppercase;
}
.booking .form_heading h1 {
  color: var(--black22);
  font-weight: 700;
  font-size: 45px;
  text-transform: capitalize;
  opacity: 0.9;
}
.booking .custom_form {
  padding-top: 20px;
}
.booking .custom_form .custom_field {
  padding: 12px 10px;
  border: 0;
  border-radius: 10px;
}
.booking .custom_form .custom_field::-moz-placeholder {
  color: var(--gray85);
  font-weight: 500;
}
.booking .custom_form .custom_field::placeholder {
  color: var(--gray85);
  font-weight: 500;
}
.booking .custom_form .custom_field:focus {
  box-shadow: none;
}

.footer_main {
  padding: 100px 0px 0px 0px;
  background-color: var(--black22);
}
.footer_main .footer_list h5 {
  color: var(--orange);
}
.footer_main .footer_list ul li {
  padding: 5px 0px;
}
.footer_main .footer_list ul li a {
  text-decoration: none;
  color: var(--whiteF9);
  transition: all 0.3s ease-in-out;
}
.footer_main .footer_list ul li a:hover {
  color: var(--orange);
}
.footer_main .footer_list ul li i {
  color: var(--orange);
  padding-right: 10px;
}
.footer_main .footer_list .footer_form {
  position: relative;
}
.footer_main .footer_list .footer_form .custom_field {
  padding: 16px 10px;
  border-radius: 10px;
}
.footer_main .footer_list .footer_form .custom_field::-moz-placeholder {
  color: var(--gray85) !important;
}
.footer_main .footer_list .footer_form .custom_field::placeholder {
  color: var(--gray85) !important;
}
.footer_main .footer_list .footer_form .send_btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--orange);
  color: var(--black22);
  padding: 12px 15px;
  border: 0;
  border-radius: 10px;
}
.footer_main .footer_hr_line {
  opacity: 1;
  color: #FFF;
}
.footer_main .copy_write {
  color: var(--whiteF9);
}
.footer_main .copy_write a {
  color: var(--whiteF9);
  transition: all 0.3s ease-in-out;
}
.footer_main .copy_write a:hover {
  color: var(--orange);
}

.orange_hover_white_btn,
.orange_hover_black_btn {
  background-color: var(--orange);
  border-radius: 40px;
  padding: 12px 30px;
  transition: all 0.3s ease-in-out;
}

.orange_hover_black_btn:hover {
  background-color: var(--black22);
  color: var(--whiteF9);
}

.orange_hover_white_btn:hover {
  background-color: var(--whiteF9);
  color: var(--black22);
}

.white_hover_orange_btn {
  background-color: var(--whiteF9);
  border-radius: 40px;
  padding: 12px 30px;
  transition: all 0.3s ease-in-out;
}

.white_hover_orange_btn:hover {
  background-color: var(--orange);
}

.black_hover_white_btn,
.black_hover_orange_btn {
  background-color: var(--black22);
  border-radius: 40px;
  padding: 12px 30px;
  transition: all 0.3s ease-in-out;
  color: var(--whiteF9);
}

.black_hover_orange_btn:hover {
  background-color: var(--orange);
}

.black_hover_white_btn:hover {
  background-color: var(--whiteF9);
  color: var(--black22);
}

.text_black {
  color: var(--black22);
}/*# sourceMappingURL=index.css.map */